{
    "manifest_version": 3,
    "name": "Better Skyward",
    "version": "1.0",
    "description": "Improves Skyward.",
    "host_permissions": [
      "YOUR_URL_GOES_HERE"
    ],
    "content_scripts": [
        {
          "js": ["scripts/content.js"],
          "css" : ["style.css"],
          "matches": [
            "YOUR_URL_GOES_HERE"
          ]
        }
      ]
}
